.icon {
  text-align: center;
  display: inline-block;
  color: $color-lvl6;
  width: 24px;
  display: inline-block;
  &-calendar {
    content: $calendar-icon;
  }
  &-group {
    content: $group-icon;
  }
  &-group-plus {
    content: $group-plus-icon;
  }
  &-ham {
    content: $ham-icon;
  }
  &-person {
    content: $person-icon;
  }
  &-plus {
    content: $plus-icon;
  }
  &-star {
    content: $star-icon;
  }
  &-sun {
    content: $sun-icon;
  }
  &-home {
    content: $home-icon;
  }
  &-arrow {
    content: $arrow-icon;
  }
  &-checkbox-empty {
    content: $checkbox-empty-icon;
  }
  &-checkbox-empty:hover {
    content: $checkbox-hover-icon;
  }
  &-checkbox-checked {
    content: $checkbox-checked-icon;
  }
}