.task-detail-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.task-detail-title,
.add-step-body {
  margin: 0;
  border-radius: 0;
}

.detailbar-item {
  margin: 0.5rem;
  background: $color-lvl5;
  &:hover {
    background-color: $color-lvl5;
  }
}

.detail-footer {
  .toolbar-inner {
    cursor: unset;
    padding: 0;
  }
  .add-group:hover,
  .btn:hover {
    background-color: $color-lvl5;
  }
  @media(max-width: 1020px) {
    position: fixed;
    bottom: 0;
  }
  margin: auto 0 0 0;
  width: 100%;
  background: $color-lvl5;
  &:hover {
    background-color: $color-lvl5;
  }
  .toolbar-title {
    margin: auto;
  }
  .icon {
    transform: rotate(-90deg);
  }
  button {
    padding: 0 12px;
  }
}

.detail-delete {
  .icon {
    transform: rotate(0);
  }
}

.step {
  width: 100%;
  .icon {
    width: 18px;
  }
}