// Colors
$color-lvl1: #171718;
$color-lvl2:#1A1B1C;
$color-lvl3:#1E1E1E;
$color-lvl4: #101010;
$color-lvl5: #242426;
$color-lvl6: #767678;
$color-lvl7: #BFBFBF;
// Icons
$calendar-icon: url("/img/calendar-icon.svg");
$group-icon: url("/img/group-icon.svg");
$group-plus-icon: url("/img/group-plus-icon.svg");
$ham-icon: url("/img/ham-icon.svg");
$person-icon: url("/img/person-icon.svg");
$plus-icon: url("/img/plus-icon.svg");
$star-icon: url("/img/star-icon.svg");
$sun-icon: url("/img/sun-icon.svg");
$home-icon: url("/img/home-icon.svg");
$arrow-icon: url("/img/arrow-icon.svg");
// Toolbar vars
$toolbar-item-height: 3rem;