// Colors
$color-lvl1: #171718;
$color-lvl2:#1A1B1C;
$color-lvl3:#1E1E1E;
$color-lvl4: #101010;
$color-lvl5: #242426;
$color-lvl6: #a1a1a1;
$color-lvl7: #e1e1e1;
// Icons
$calendar-icon: url("/my-redux-todo-app/img/calendar-icon.svg");
$group-icon: url("/my-redux-todo-app/img/group-icon.svg");
$group-plus-icon: url("/my-redux-todo-app/img/group-plus-icon.svg");
$ham-icon: url("/my-redux-todo-app/img/ham-icon.svg");
$person-icon: url("/my-redux-todo-app/img/person-icon.svg");
$plus-icon: url("/my-redux-todo-app/img/plus-icon.svg");
$star-icon: url("/my-redux-todo-app/img/star-icon.svg");
$star-checked-icon: url("/my-redux-todo-app/img/star-checked-icon.svg");
$sun-icon: url("/my-redux-todo-app/img/sun-icon.svg");
$home-icon: url("/my-redux-todo-app/img/home-icon.svg");
$arrow-icon: url("/my-redux-todo-app/img/arrow-icon.svg");
$checkbox-empty-icon: url("/my-redux-todo-app/img/checkbox-empty-icon.svg");
$checkbox-hover-icon: url("/my-redux-todo-app/img/checkbox-hover-icon.svg");
$checkbox-checked-icon: url("/my-redux-todo-app/img/checkbox-checked-icon.svg");
// Toolbar vars
$toolbar-item-height: 3rem;